// colors name: https://www.color-name.com/


$lotion: #FAFAFA !default;
$pearl:#F8F8EC !default;
$flashWhite: #EFF0F3 !default;
$platinum: #E4E5E9 !default;
$spanishGrey: #949A9A !default;

// Text Color: 
$gunmetal: #2b2c34 !default;

// Highlight Color:
$lightTaupe: #B18C67 !default;
