
$width: 10%;

.header {
	display: flex;
	box-shadow: $flashWhite 0px 2px 4px;

	&__icon,
	&__button {
		width: $width;
	}
	
	&__nav {
    display: flex;
    justify-content: end;
		width: calc(100% - $width * 2);
	}

	@include respond(ipad) {
		&__nav {
			display: none;
		}
	}
}
