@charset 'utf-8';

@import 'colors';
@import 'variables';
@import 'typograhpy';
@import 'utility';
@import 'layout';

@import 'header';
@import 'carsouel';
@import 'nav';
@import 'button';
@import 'banner';
@import 'category';
@import 'card';

#root {
max-width: $global-max-width;
  background-color: $flashWhite;
}
.mainLayout {
	padding: 0 calc(($global-max-width - $xlarge) / 4);;
	
	@include respond(tablet) {
		padding: 0 $global-padding * 2.5;
	}
}

.bg--grey {
  background-color: $flashWhite;
}

.bg--white {
  background-color: $lotion;
}

.bg--white, 
.bg--grey {
	color: $gunmetal;
}

a {
	color: $gunmetal;
	&:hover, &:active {
		color: $lightTaupe;
	}
}
